* { all: unset; }

.window {
  font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
  font-size: 30px;
  background: rgba(0,0,0,0.7);
  border-radius: 8px;
}

.menu {
  background: rgba(10,48,37,0.5);
  border: 2px solid #00c05f;
  border-radius: 14px;
  padding: 3px;
  margin: 300 10px;
}

.workspace-button-frame, .power-button-frame {
  font-family: 'RainWorldSymbols', 'JetBrainsMono Nerd Font Propo', sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: #02e9bd;
}

.workspace-button, .power-button {
  background: rgba(150,150,100,0.2);
  border-radius: 10px;
  margin: 2px;
  
  &.selected {
    background: #00c05f;
    color: rgba(0,0,0,0.8);
  }
}

.closer {
  background: rgba(0,0,0,0.4);
}
