* {
    font-size: 15px;
    font-weight: bold;
    color: #13f1da;
}

window#waybar {
    background: rgba(90,5,46,0.5);
    border: 2px solid #f8928e;
    border-radius: 14px;
    padding: 2px;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 2px;
}

button:hover {
    background: inherit;
}

#pulseaudio:hover {
    background: #f8928e;
    color: #440024;
}

#workspaces {
    font-family: 'RainWorldSymbols', 'JetBrainsMono Nerd Font Propo', sans-serif;
}

#workspaces button {
    padding: 4 6px;
    background: transparent;
    border-radius: 0px;
    border-top: 2px solid #f8928e;
    border-bottom: 2px solid #f8928e;
}

#workspaces button:hover {
    background: rgba(0,0,0,0.5);
}

#workspaces button.active {
    background: rgba(0,0,0,0.5);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-power,
#keyboard-state,
#custom-brightness,
#mpd {
    font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
    padding: 0 10px;
    margin: 6 0px;
    background: rgba(200,100,100,0.3);
    color: #15ebd1;
    border: 2px none #f8928e;
    border-radius: 8px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left {
    margin-left: 6px;
}

.modules-right {
    margin-right: 6px;
}

#battery.charging, #battery.plugged {
    background: #f8928e;
    color: #440024;
}

@keyframes blink {
    to {
        background: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background: #000000;
}

#network.disconnected {
    background: #440024;
}

#pulseaudio.muted {
    background: rgba(0,0,0,0.4);
}

#wireplumber.muted {
    background: #440024;
}

#custom-media {
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
    background: #ffa000;
}

#temperature.critical {
    background: #440024;
}

#tray {
    background: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: #eb4d4b;
}

#idle_inhibitor {
    background: rgba(0,0,0,0.4);
}

#idle_inhibitor.activated {
    background: #f8928e;
    color: #440024;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    padding: 0 0px;
}

#keyboard-state > label {
    background: rgba(0,0,0,0.6);
    padding: 0 10px;
    margin: 2 2px;
    border-radius: 6px;
}

#keyboard-state > label.locked {
    background: #f8928e;
    color: #440024;
}

#scratchpad {
    background: rgba(0,0,0,0.2);
}

#scratchpad.empty {
    background: transparent;
}
/*
#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #f8928e;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}*/
